{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="background-color:grey">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <br>

    <input type="text" name="name" placeholder="Enter Movie name"><br><br>
    <input type="text" name="desc" placeholder="Enter Movie decription"><br><br>
    <input type="text" name="year" placeholder="Enter Movie year"><br><br>
    <input type="file" name="img"><br><br>
    <input type="submit">
</form>
</div>
{% endblock %}
